<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkey0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{0,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{127,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{254,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{381,0},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{509,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{636,0},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{764,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{891,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{1018,0},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{1146,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{1273,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{1400,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{1527,0},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{1655,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>angle.png</string>
            <key>size</key>
            <string>{1782,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b37d8efa2aad68931bf85536bf0990:ca0d28c18d54bff88aa1f750b4be36c5:94cb6830d9ec684d529d21f938d0e9bf$</string>
            <key>textureFileName</key>
            <string>angle.png</string>
        </dict>
    </dict>
</plist>
