<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monkey0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{0,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{127,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{254,0},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{381,0},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{0,186},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{127,186},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkey6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{255,186},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkeyleft0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{382,186},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkeyleft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{0,372},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkeyleft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{127,372},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkeyleft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{254,372},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkeyleft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{382,372},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkeyleft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{0,558},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monkeyleft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{128,558},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{255,558},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{382,558},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{0,744},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{127,744},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{254,744},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{381,744},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rat6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{0,930},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{127,930},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{254,930},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{382,930},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{0,1116},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{127,1116},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,186}</string>
                <key>spriteSourceSize</key>
                <string>{128,186}</string>
                <key>textureRect</key>
                <string>{{254,1116},{128,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,186}</string>
                <key>spriteSourceSize</key>
                <string>{127,186}</string>
                <key>textureRect</key>
                <string>{{382,1116},{127,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>angle.png</string>
            <key>size</key>
            <string>{510,1302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3db6c284cf86d7bcb3e639c3eb97fcf5:0bef16c975cc9bce2306278652386470:94cb6830d9ec684d529d21f938d0e9bf$</string>
            <key>textureFileName</key>
            <string>angle.png</string>
        </dict>
    </dict>
</plist>
