<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eatLeft0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{0,0},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{99,0},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{198,0},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{297,0},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatRight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{99,555},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{198,555},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{297,555},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eatRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{396,555},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightLeft0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{396,0},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{0,185},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{99,185},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{198,185},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightRight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{0,741},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{99,741},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{198,741},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{297,741},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{396,741},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{0,927},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{99,927},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{198,927},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{297,927},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{396,927},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{0,1113},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{99,1113},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskLeft8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{198,1113},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{297,1113},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{396,1113},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{0,1299},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{99,1299},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{198,1299},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{297,1299},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{396,1299},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{0,1485},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maskRight8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{99,1485},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{297,185},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{396,185},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{0,370},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{99,370},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{198,370},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{198,1485},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{297,370},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{396,370},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,185}</string>
                <key>spriteSourceSize</key>
                <string>{99,185}</string>
                <key>textureRect</key>
                <string>{{0,555},{99,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{297,1485},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{396,1485},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{0,1671},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{99,1671},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{198,1671},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{297,1671},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{396,1671},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{0,1857},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{99,1857},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,186}</string>
                <key>spriteSourceSize</key>
                <string>{99,186}</string>
                <key>textureRect</key>
                <string>{{198,1857},{99,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monkey.png</string>
            <key>size</key>
            <string>{495,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f6a8c1b499d76e00ba0ae5b0e6de04c:b3ec222713e5c0a11676632a235fad02:981299b9bed78a124f7eed7a66b6f893$</string>
            <key>textureFileName</key>
            <string>monkey.png</string>
        </dict>
    </dict>
</plist>
