<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ratLeft0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{0,0},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratLeft1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{116,0},{115,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratLeft2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{231,0},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratLeft3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{347,0},{115,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratLeft4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{0,130},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratLeft5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{116,130},{115,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratLeft6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{231,130},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratLeft7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{347,130},{115,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratLeft8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{0,260},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{116,260},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{232,260},{115,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{0,390},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{116,390},{115,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{231,390},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{347,390},{115,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{0,520},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,130}</string>
                <key>spriteSourceSize</key>
                <string>{115,130}</string>
                <key>textureRect</key>
                <string>{{116,520},{115,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ratRight8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,130}</string>
                <key>spriteSourceSize</key>
                <string>{116,130}</string>
                <key>textureRect</key>
                <string>{{231,520},{116,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rat.png</string>
            <key>size</key>
            <string>{462,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df2d36bafa0cbb5910d5b0cd7017d289:b4d35b9eb96fd28d80e368dfff090e95:46b45e4193fe35b8256cf81cc6af237d$</string>
            <key>textureFileName</key>
            <string>rat.png</string>
        </dict>
    </dict>
</plist>
