<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,212}</string>
                <key>textureRect</key>
                <string>{{0,0},{240,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,212}</string>
                <key>textureRect</key>
                <string>{{240,0},{240,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,212}</string>
                <key>textureRect</key>
                <string>{{480,0},{240,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>front1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,212}</string>
                <key>textureRect</key>
                <string>{{720,0},{240,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tankani.png</string>
            <key>size</key>
            <string>{960,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf762a8908ec2701a2d2fa2a24b3a6ee:8f1bc4e1607cba1c761e809cc75c531e:7448cb6974c252ef2fab47dd5e6ab9e0$</string>
            <key>textureFileName</key>
            <string>tankani.png</string>
        </dict>
    </dict>
</plist>
