<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walkLeft_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{54,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{108,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{162,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{216,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{270,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{324,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{378,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{432,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{486,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkLeft_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,96}</string>
                <key>spriteSourceSize</key>
                <string>{54,96}</string>
                <key>textureRect</key>
                <string>{{540,0},{54,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walkLeft.png</string>
            <key>size</key>
            <string>{594,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fa5458fbc3fc64f0b96e16e3850e818:d53fe8d5ce420f3579dee716e5dd6f89:e8dea61cedbed487aa9ded57e317f5d6$</string>
            <key>textureFileName</key>
            <string>walkLeft.png</string>
        </dict>
    </dict>
</plist>
