<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walkRight_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{66,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{132,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{198,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{264,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{330,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{396,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{462,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>walkRight_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,124}</string>
                <key>spriteSourceSize</key>
                <string>{66,124}</string>
                <key>textureRect</key>
                <string>{{528,0},{66,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walkRight.png</string>
            <key>size</key>
            <string>{594,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eafb65747234681589d5070e662ae6e1:1c4c1360c211739c4e46e68a1b5f808f:e8dea61cedbed487aa9ded57e317f5d6$</string>
            <key>textureFileName</key>
            <string>walkRight.png</string>
        </dict>
    </dict>
</plist>
